# =========================
# ROS 2 / Colcon
# =========================
build/
install/
log/

# =========================
# Archivos temporales
# =========================
*.pyc
__pycache__/
*.log
*.tmp
*.swp
*.bak
*.gv~
*.pdf~

# =========================
# VS Code / IDEs
# =========================
.vscode/
.idea/

# =========================
# SO
# =========================
.DS_Store
Thumbs.db

# =========================
# ROS maps temporales
# =========================
*.pgm~
*.yaml~
*.data~
*.posegraph~
